.about-detail{
    margin: 10px;
    padding: 5px;
}

.about-detail h1{
    color: #2C3E50;
    margin: 8px;
    padding: 2px;
}

.about-detail h3{
    color: #5C5C5C;
}

.about-detail .about-section:nth-of-type(odd) {
    background-color: #F7F4E9;
    border-radius: 8px;
}

.about-section {
    margin: 8px;
    padding: 8px;
}