.about-detail{
    margin: 10px;
    padding: 5px;
}

.about-detail h1{
    text-align: center;
    color: white;
    background-image: linear-gradient(to right, #004AAD, #9F2B00);
    margin: 8px;
    padding: 2px;
    border: black solid 2px;
    border-radius: 12px;
    padding: 5px;
}

.about-detail h3{
    color: #5C5C5C;
}

.about-detail .about-section:nth-of-type(odd) {
    background-color: black;
    border-radius: 8px;
}

.about-section {
    margin: 8px;
    padding: 8px;
}