/* src/components/CityCard.css */
.city-card {
    position: relative;
    height: 300px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    padding: 20px;
    transition: transform 0.2s;
    overflow: hidden;
    margin: 8px;
}

.city-card:hover {
    transform: scale(1.05); /* Scale effect on hover */
}

.city-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.city-overlay h1 {
    color: white;
    font-size: 6rem;
    font-weight: bold;
}

#city-stream {
    display: flex;
    flex-direction: column;
    justify-content: center;
}