.city-card {
    position: relative;
    height: 300px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 20px 40px rgba(0,0,0,0.5);
    padding: 20px;
    transition: transform 0.2s;
    overflow: hidden;
    margin: 50px;
}

.city-card:hover {
    transform: scale(1.05);
}

.city-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.city-overlay h1 {
    color: white;
    font-size: 6rem;
    font-weight: bold;
}

#city-stream {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#city-stream ul{
    padding: 50px;
}

@media (max-width: 480px) {
    .city-card{
        width: 100%;
        height: 150px;
        margin: 70px 0;
    }
    .city-overlay h1 {
        font-size: 2.5rem;
    }

    #city-stream ul{
        padding: 5px;
    }
}