#contribution-pie-chart-wrapper {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  padding: 10px;
  width: 100%;
}

#funding-summary-pie-chart {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 400px;
}

/* Mobile Styles */
@media (max-width: 480px) {
  #funding-summary-pie-chart {
      max-width: 280px;
  }

  h1 {
      font-size: 18px;
  }

  h4 {
      font-size: 14px;
      text-align: center;
  }
}
