#occupation-pie-chart-wrapper {
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    justify-content: center;
    margin-top: 20px;
  }

#occupation-pie-chart{
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    height: 350px;
    width: 350px;
}

#donor-occupation-table{
    border-collapse: collapse;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin: 10px;
    width: 100%;
    max-width: 600px;
  }
  
  td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    color: white;
  }
  
  tr:last-child td {
    border-bottom: none;
  }