#expenditure-category-wrapper {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  justify-content: center;
  margin-top: 20px;
  align-items: center; /* Center chart on wide screens */
  overflow-x: hidden;   /* Prevent horizontal scroll just in case */
}

  #expenditure-category-pie-chart {
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    justify-content: center;
    margin-top: 20px;
    padding: 5px;
    height: 350px;
    width: 100%;
    max-width: 350px; /* This ensures it shrinks on small screens */
    box-sizing: border-box;
  }