#district-locator-btn, #data-source-btn {
    font-size: 1rem;
    font-family: inherit;
    border: none;
    border-radius: 8px;
    padding: 0.5rem 0.75rem;
    box-shadow: 0 0px 1px hsla(0, 0%, 0%, 0.2), 0 1px 2px hsla(0, 0%, 0%, 0.2);
    background-color: #1545fc;
    line-height: 1.5;
    margin: 2px;
    min-width: 138px;
}

#district-locator-btn:hover, #data-source-btn:hover{
    background: #0437F2;
}

a {
    color: white;
    text-decoration: none;
}
#header {
    font-size: 2rem;
    transition: all 0.2s ease;
    margin: 8px;
    padding: 2px;
    align-items: center;
    text-align: center;
}

.row-span {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

button {
    height: 40px;
}

@media (max-width: 480px) {
    #header h1{
        font-size: 32px;
    }
    #header button a{
        font-size: 14px;
    }
}
  