.main-banner {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 0 20px;
    background-color: #f9f9f9;
    height: 80px;
    z-index: 11;
    width: 100%;
}

#pages-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 20px;
}

.home-button {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.home-button-icon {
    width: 250px;
    object-fit: contain;
}

.hamburger-icon {
    position: absolute;
    right: 0;
    margin: 20px;
    display: none;
    cursor: pointer;
    color: #333;
}

.main-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.menu-item {
    cursor: pointer;
    text-decoration: none;
    color: #333;
    font-size: 18px;
    font-weight: bold;
    position: relative;
}

.menu-item:hover {
    color: #007bff;
}

.cities-dropdown {
    position: relative;
}

.dropdown-menu {
    position: absolute;
    display: flex;
    top: 100%;
    left: 0;
    background-color: #fff;
    padding: 0;
    margin: 0;
    list-style: none;
    z-index: 10;
    width: 150px;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.dropdown-item {
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-align: left;
}

.dropdown-item:hover {
    background-color: #f1f1f1;
}

@media (max-width: 768px) {
    .hamburger-icon {
        display: block;
    }

    #pages-bar {
        display: flex;
        flex-direction: row;
    }

    .main-menu {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 120px;
        left: 0;
        width: 100%;
        background-color: #f9f9f9;
    }

    .main-menu.open {
        display: flex;
        top: 80px;
        border-bottom: 1px solid rgba(54, 69, 79, 0.2);
    }

    .menu-item {
        padding: 10px;
        text-align: center;
        width: 100%;
    }

    .dropdown-menu {
        position: static;
        box-shadow: none;
        border: none;
        background-color: transparent;
    }
}

@supports (-webkit-touch-callout: none) {
    .main-banner{
        top: 44px;
    }
  }
