.main-container {
    position: relative;
    display: flex;
    flex-direction: column;
    color: black;
  }

  #profile-stream{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 8px;
    padding: 2px;
  }

  .city-title {
    text-align: center;
    font-size: 4rem;
  }

  #donor-map {
    display: flex;
    flex-direction: column;
  }