.profile-headshot {
    display: block;
    margin-left: auto;
    margin-right: auto;
    object-fit: contain;
    border-radius: 50%;
    height: 240px;
  }

  #profile-stream a{
    text-decoration: none;
  }

  .profileSnapshot{
      transition: all 0.2s ease;
      border-radius: 5px;
      margin: 5px;
      align-items: center;
      text-align: center;
      border-color: white;
      color: black;
  }

  .profileSnapshot h1{
    max-width: 300px;
    margin: auto;
    height: 100px;
    padding-top: 10px;
  }

  .profileSnapshot:hover {
    border-radius: 5px;
    border: 2px solid #eaeaea;
    }

  .profileSnapshot p{
    margin: 20px;
  }

  .profile-district-header{
    color: #D7816A;
    font-weight: 900;
    font-size: 1.5rem;
    margin-top: 2px;
  }

  @media(max-width: 480px) {
    .profile-headshot {
        height: 180px;
      }
  }

  #first-election-wrapper{
    background-color: #D7816A;
    color: white;
    padding: 3px;
    border-radius: 8px;
  }

  #next-election-wrapper{
    background-color: #D7816A;
    color: white;
    padding: 3px;
    border-radius: 8px;
  }

  #first-election-wrapper h3, #next-election-wrapper h3 {
    margin: auto;
  }