.profile-headshot {
    display: block;
    margin-left: auto;
    margin-right: auto;
    object-fit: contain;
    border-radius: 50%;
    height: 240px;
  }

  .profileSnapshot{
      transition: all 0.2s ease;
      border-radius: 5px;
      margin: 5px;
      align-items: center;
      text-align: center;
      background-color: #0056a1;
      color: #F1F2EB;
  }

  .profileSnapshot h1{
    max-width: 300px;
    margin: auto;
    height: 100px;
  }

  .profileSnapshot:hover {
    border-color: #eaeaea; 
    background-color: #003F87;
    }


  .profile-district-header{
    color: #D7816A;
    font-weight: 900;
    font-size: 1.5rem;
    margin-top: 2px;
  }

  @media(max-width: 480px) {
    .profile-headshot {
        height: 180px;
      }
  }