img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 300px;
    width: auto;
  }

  .profileSnapshot{
    border: 1px solid #eaeaea;
    transition: all 0.2s ease;
    border-radius: 5px;
    margin: 5px;
    padding: 15px;
    width: 100%;
    align-items: center;
    text-align: center
  }