.search-bar {
    position: relative;
    max-width: 400px;
    margin: auto 20px;
}

.search-input {
    width: 250px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.search-results {
    list-style: none;
    margin: 0;
    padding: 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    max-height: 200px;
    overflow-y: auto;
    background-color: white;
    position: absolute;
    width: 100%;
    z-index: 10;
    box-sizing: border-box;
}

.search-result-item {
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid #eee;
    flex-wrap: wrap;
}

.search-result-item:last-child {
    border-bottom: none;
}

.search-result-item a {
    text-decoration: none;
    color: inherit;
    display: flex;
    align-items: center;
    flex: 1;
    width: 100%;
}

.search-profile-headshot {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
    object-fit: cover;
}

.profile-name {
    font-weight: bold;
    margin-right: 5px;
    flex: 1;
}

.profile-city {
    color: gray;
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    flex: 1;
    text-align: right;
}
