/* General Styling for the Chart Container */
#contribution-bar-chart-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: black;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%; /* Ensure it takes full width */
    margin: 20px auto;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

#stacked-bar-chart-wrapper{
    height: 550px;
    width: 550px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}
/* Title and Subtitle Styling */
#contribution-bar-chart-section h2,
#contribution-bar-chart-section h4 {
    text-align: center;
    margin: 10px 0;
}


@media (max-width: 480px) {
    #contribution-bar-chart-section {
        padding: 0;
    }

    /* Adjust the title and subtitle font sizes for mobile screens */
    #contribution-bar-chart-section h2 {
        font-size: 18px;
    }

    #contribution-bar-chart-section h4 {
        font-size: 14px;
    }
    .chartjs-size-monitor,
    .chartjs-size-monitor-expand,
    .chartjs-size-monitor-shrink {
        padding: 0 !important;
        margin: 0 !important;
    }
}